.department-border {
    stroke: #fff;
    stroke-width: 1;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 12px sans-serif;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}
